# VPC Variables
vpc_cidr = "10.0.0.0/16"

# Subnet Variables
subnet_cidr        = "10.0.1.0/24"
availability_zone  = "us-east-1a"  # Change according to your region

# EC2 Variables
instance_type  = "t2.micro"        
ami_id         = "ami-xxxxxxxx"    # Replace with valid AMI for your region
